@model CreateViewModel

@{
    ViewData["Title"] = "新增發文";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="8"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">發文</button>
</form>