@model RegisterViewModel

@{
    ViewData["Title"] = "註冊頁面";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Register" method="post">
    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="Biography"></label>
        <input asp-for="Biography" class="form-control" />
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">註冊</button>
</form>